[submodule "binaryen"]
	path = binaryen
	url = https://github.com/WebAssembly/binaryen
[submodule "fiber-c"]
	path = fiber-c
	url = https://github.com/wasmfx/fiber-c.git
[submodule "stack-switching"]
	path = stack-switching
	url = https://github.com/WebAssembly/stack-switching.git
[submodule "wasmfxtime"]
	path = wasmfxtime
	url = https://github.com/wasmfx/wasmfxtime.git
[submodule "virgil"]
	path = virgil
	url = git@github.com:titzer/virgil.git
[submodule "wizard-engine"]
	path = wizard-engine
	url = git@github.com:titzer/wizard-engine.git
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "go"]
	path = go
	url = https://go.googlesource.com/go
[submodule "wasmfx-tools"]
	path = wasmfx-tools
	url = git@github.com:wasmfx/wasmfx-tools.git
[submodule "waeio"]
	path = waeio
	url = https://github.com/wasmfx/waeio
[submodule "js_of_ocaml"]
	path = js_of_ocaml
	url = https://github.com/ocsigen/js_of_ocaml.git
